.tone-select__label,
.dialect-select__label { 
    align-items: center;
    column-gap: 1rem;
    display: flex;

    @media screen and (max-width: 380px) {
        column-gap: .25rem;
    }

    @media screen and (min-width: 769px) {
        column-gap: 0.5rem;
        cursor: pointer;
    }
}

.dialect-select__image {
    border: 0.0625rem solid var(--primary-black);
    height: 1.25rem;
    width: 1.875rem;

    @media screen and (min-width: 769px) {
        column-gap: .95rem;
    }
}