.hero {
    align-items: center;
    background-image: url('../../assets/World_Map_1.png');
    background-position-x: right;
    background-repeat: no-repeat;
    display: flex;
    height: 25vh;
    justify-content: center;
}

.hero__image {
    margin-right: 0.9375rem;
    width: 5.93rem;
}

.hero-text__title {
    color: var(--lime-green);
    font-family: "Big Shoulders Display", sans-serif;
    font-size: 2.7138rem;
    line-height: 1.5;
    margin: 0;
}

.hero-text__subtext {
    color: var(--primary-white);
    font-size: .75rem;
    font-weight: 600;
    line-height: 1.5;
}