@import './utils/scroll.css';

:root {
    --primary-black: #000000;
    --primary-red: #FF0000;
    --primary-white: #FFFFFF;
    --light-gray: #D3D3D3;
    --medium-electric-blue: #035A9D;
    --anti-flash-white: #EFF0F4;
    --lime-green: #32CD32;
}

html,
body {
    font-family: "Poppins";
    height: 100%;
    margin: 0;
    overflow-y: auto;
}

input,
textarea,
button {
    font-family: inherit;
}

textarea:focus,
button:focus {
    outline: none;
}

.hidden {
    display: none !important;
}

.error {
    color: var(--primary-red);
}

.main {
    background-color: var(--primary-black);
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.1;
    height: 100vh;

    @media screen and (max-width: 380px) {
        font-size: 0.9rem;
    }

    @media screen and (min-width: 769px) {
        font-size: 1.5rem;
        height: auto;
        min-height: 100dvh;
        overflow: visible;
    }
}
