.content {
    background-color: var(--primary-white);
    flex-grow: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    padding: 1.875rem 1rem;
    overflow: hidden;

    @media screen and (max-width: 380px) {
        padding: .75rem 1rem;
    }
    
    @media screen and (min-width: 769px) {
        padding: 2rem 2rem;
    }
}

.translator {
    align-content: center;
    border: 0.25rem solid var(--primary-black);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex-grow: 1;
}

.translation-input,
.tone-select,
.language-select,
.translation {
    display: flex;
    flex-direction: column;
    padding: 0.25rem 1.5rem;

    @media screen and (min-width: 769px) {
        padding: 0.25rem 5rem;
    }
}

.translator__scrollable {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow: hidden;
}

.translation-options,
.translation {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
}

.translation__audio {
    flex-shrink: 0;
    margin-top: 1rem;
    width: 100%;

    @media screen and (max-width: 380px) {
        height: 2.125rem;
    }
}


