.translate-cta {
    background-color: var(--medium-electric-blue);
    border: 0.0625rem solid var(--medium-electric-blue);
    border-radius: 0.5rem;
    color: var(--primary-white);
    cursor: pointer;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 1.5rem 1.25rem .75rem;
    min-height: 3.125rem;
    padding: .5rem 1.5rem;

    @media screen and (max-width: 380px) {
        font-size: 1.25rem;
        margin: .25rem 1.25rem 1rem;
        padding: .25rem .75rem;
    }

    @media screen and (min-width: 769px) {
        align-items: center;
        margin: 1.25rem 5rem;
    }
}

.translate-cta--disabled {
    background-color: var(--light-gray);
    border-color: var(--light-gray);
}