:root {
    --primary-black: #000000;
    --primary-red: #FF0000;
    --primary-white: #FFFFFF;
    --light-gray: #D3D3D3;
    --medium-electric-blue: #035A9D;
    --anti-flash-white: #EFF0F4;
    --lime-green: #32CD32;
}

*::-webkit-scrollbar {
    background-color: transparent;
    width: 0.75rem;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    border-radius: 1.25rem;
    border: 0.1875rem solid var(--medium-electric-blue);
    background-color: var(--lime-green);
    background-clip: content-box;
}

body {
    font-family: "Poppins";
    margin: 0;
}

input,
textarea,
button {
    font-family: inherit;
}

textarea:focus,
button:focus {
    outline: none;
}

.hidden {
    display: none !important;
}

.error {
    color: var(--primary-red);
}

.main {
    background-color: var(--primary-black);
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 700;
    height: 100vh;
    line-height: 1.1;
    min-height: 100vh;
}
